@model IEnumerable<ComicSystem.Models.Rental>

<h1>Rental Report</h1>

<form method="get">
    <label>Start Date</label>
    <input type="date" name="startDate" />
    <label>End Date</label>
    <input type="date" name="endDate" />
    <button type="submit">Generate Report</button>
</form>

<table>
    <thead>
        <tr>
            <th>Book Name</th>
            <th>Rental Date</th>
            <th>Return Date</th>
            <th>Customer Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                @* <td>@rental.ComicBook.Title</td> *@
                <td>@rental.RentalDate</td>
                <td>@rental.ReturnDate</td>
                @* <td>@rental.Customer.Fullname</td> *@
            </tr>
        }
    </tbody>
</table>
